# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.1.2

# Azure CLI
azure-cli==2.19.1
azure-cli-ml==2.0.1a2.post3
