# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.0.2

# Azure CLI
azure-cli==2.0.22
azure-cli-ml==0.1.0a27.post3
azure-cli-vm==2.0.18

